<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#= ModuleText #>
namespace <#= Namespace #> {
<# foreach (var item in Types) 
{ #>
	export interface I<#= item.Name #> {
<# foreach (var prop in item.Properties) 
{ #>
		<#= prop.Key #>: <#= prop.Value #>;
<# } #>
	}
<# } #>
}